main.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;
  background: #fff;
}

div.container {
  width: 100%;
  max-width: 550px;
  border-radius: 15px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  position: relative;
}

header.headerContainer {
  width: 100%;
  background: #00AEEF;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

header.headerContainer img {
  border-radius: 100%;
  height: 3.75rem;
  margin-right: 1rem;
}

header.headerContainer div {
  display: flex;
  flex-direction: column;
}

header.headerContainer div strong {
  font-size: 2rem;
  font-weight: bold;
}

header.headerContainer div span {
  font-size: 0.95rem;
}

footer.footerContainer {
  width: 100%;
  height: 3rem;
  background: #111111;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

img.footerImg {
  margin-right: .75rem;
  height: 2.25rem;
}

div.content {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem 5rem;
}

div.content label {
  display: flex;
  flex-direction: column;
  position: relative;
}

div.content label+button {
  margin-bottom: 1rem;
}

div.content label textarea {
  margin: .85rem 0;
  resize: none;
  outline: 0;
  border: 0;
  border-radius: 10px;
  padding: 15px;
  background: #F1F1F1;
  font-family: "Ubuntu", sans-serif;
  font-size: 0.85rem;
  word-break: break-word;
}

div.content button.cleanButton {
  background: #00AEEF;
  color: #fff;
  border-radius: 10px;
  outline: 0;
  border: 0;
  font-size: 1.25rem;
  padding: 0.5rem 0;
  font-family: "Ubuntu", sans-serif;
  box-shadow: 0px 4px 7px rgba(53, 84, 249, 0.3);
}

button.copyIcon {
  background: transparent;
  width: 20px;
  height: 20px;
  border: 0;
  outline: 0;
  position: absolute;
  bottom: calc(.85rem + 15px);
  right: 15px;
}

button.copyIcon img {
  width: 100%;
}

button.copyIcon:active img {
  filter: invert(58%) sepia(96%) saturate(2195%) hue-rotate(159deg) brightness(90%) contrast(111%);
}

@media (max-width: 575px) {
  div.container {
    height: 100%;
    width: 100%;
    max-width: none;
    border-radius: 0;
  }

  div.content {
    padding: 3rem 2rem;
  }
}