main.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;
  background: #fff;
}

div.container {
  width: 100%;
  max-width: 550px;
  border-radius: 15px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  position: relative;
}

header.headerContainer {
  width: 100%;
  background: transparent;
  color: #1E201D;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;

}

header.headerContainer img {
  border-radius: 100%;
  height: 3.75rem;
  margin-right: 1rem;
}

header.headerContainer div {
  display: flex;
  flex-direction: column;
}

header.headerContainer div strong {
  font-size: 2rem;
  font-weight: bold;
}

header.headerContainer div span {
  font-size: 0.95rem;
}

footer.footerContainer {
  width: 100%;
  height: 3rem;
  background: #111111;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

img.footerImg {
  margin-right: .75rem;
  height: 2.25rem;
}

div.content {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem 5rem;
}

div.content label {
  display: flex;
  flex-direction: column;
  position: relative;
}

div.content label+button {
  margin-bottom: 1rem;
}

div.content label input {
  margin: .85rem 0;
  resize: none;
  outline: 0;
  border: 0;
  border-radius: 10px;
  padding: 15px;
  background: #F1F1F1;
  font-family: "Ubuntu", sans-serif;
  font-size: 0.85rem;
  word-break: break-word;
}

div.content button.checkButton {
  background: #fff;
  color: #1E201D;
  border-radius: 10px;
  outline: 0;
  border: 0;
  font-size: 1.25rem;
  padding: 0.5rem 0;
  font-family: "Ubuntu", sans-serif;
  box-shadow: 0px 0px 10px rgba(200, 200, 201, 0.4);
}

button.copyIcon {
  background: transparent;
  width: 20px;
  height: 20px;
  border: 0;
  outline: 0;
  position: absolute;
  bottom: calc(.85rem + 15px);
  right: 15px;
}

button.copyIcon img {
  width: 100%;
}

button.copyIcon:active img {
  filter: invert(58%) sepia(96%) saturate(2195%) hue-rotate(159deg) brightness(90%) contrast(111%);
}

div.result {
  position: relative;
}

div.resultContainer {
  position: absolute;
  display: flex;
  width: 100%;
  padding: 1rem;
  border-radius: 6px;
  visibility: hidden;
  opacity: 0;
}

div.resultContainer div {
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 100%;
  padding: 1rem;
}

div.resultContainer.isValid {
  position: unset;
  background: #23CE6B;
  visibility: visible;
  opacity: 1;
}

div.resultContainer.isInvalid {
  position: unset;
  background: #F02D2D;
  visibility: visible;
  opacity: 1;
}

@media (max-width: 575px) {
  div.container {
    height: 100%;
    width: 100%;
    max-width: none;
    border-radius: 0;
  }

  div.content {
    padding: 3rem 2rem;
  }

  div.resultContainer {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    border-radius: 6px;
    visibility: hidden;
    text-align: center;
    opacity: 0;
  }

  div.resultContainer img {
    max-width: 50px;
  }

  div.resultContainer div strong {
    margin-bottom: .5rem;
  }
}